<ion-view>
    <ion-content class="has-header">

        <div class="card">
            <div class="item item-energized">

                <h2>Votre avis</h2>

            </div>
            <div class="item">
                <p>Veuillez nous donnez votre avis pour amelioré l applciation</p>
                <p>Ou par email a l'adress suivant</p>
                <p><strong>khaled.hadj.a@gmail.com</strong></p>
            </div>

        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Votre Nom</span>
                <input type="text" placeholder="Khaled">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="example@mail.com">
            </label>

            <div class="item item-divider"></div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Message</span>
                <textarea type="text" placeholder="message"></textarea>
            </label>

            <div class="item">
                <button class="button button-positive button-outline">Envoyer</button>
            </div>

        </div>

    </ion-content>
</ion-view>