<ion-header-bar class="bar-positive">
    <div class="title">
        Info Terrafic Algerie
    </div>
</ion-header-bar>

<ion-pane>
    <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab icon-on="ion-map" icon-off="ion-map" title="Route" ui-sref="home.map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Position"
                 icon-on="ion-ios-location"
                 icon-off="ion-ios-location-outline"
                 ui-sref="home.position">
            <ion-nav-view name="tab-position"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-on="ion-ios-email"
                 icon-off="ion-ios-email-outline"
                 title="Contact"
                 ui-sref="home.feedback">
            <ion-nav-view name="tab-feedback"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-pane>