<ion-view ng-controller="MapSituationController">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons>
            <button class="button icon ion-home" ui-sref="home.map"></button>
        </ion-nav-buttons>
        <ion-nav-title>Map</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="has-header">


        <ui-gmap-google-map
                refresh='true'
                center='map.center'
                zoom='map.zoom'
                draggable='true'
                bounds='bounds'>

            <ui-gmap-marker ng-repeat="position in pos"
                            idKey='position.id'
                            coords='position'
                            click='onClick(position)'
                            >
                <ui-gmap-window
                        isIconVisibleOnClick='true'
                        closeClick='onClick(position)'
                        options='windowOptions'
                        >

                    <div class="card">
                        <div ng-class="'item item-'+getStatusColor(position.status)">
                            {{position.comment}}
                        </div>
                        <div class="item">
                            <img ng-src='{{position.image}}' style="width: 150px" />
                        </div>
                    </div>

                </ui-gmap-window>
            </ui-gmap-marker>

        </ui-gmap-google-map>


    </ion-content>
</ion-view>