<ion-view ng-controller="MapSituationController">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons>
            <button class="button icon ion-home" ui-sref="home.map"></button>
        </ion-nav-buttons>
        <ion-nav-title>Map</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="has-header">

        <!-- search -->
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input id="ac" type="text"
                           ng-model='autocompleteresult'
                           ng-autocomplete='autocompleteresult'
                           details='autocompletedetail'
                           options='autocompleteoptions'
                           />
                </label>
                <button class="button button-small" ng-click="getRoute(autocompletedetail)">Go</button>
            </div>
        </div>

        <!-- map -->
        <div class="card">
            <div class="item item-image" style="height: 400px;">
                <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        draggable='true'
                        bounds='bounds'
                        options='mapOptions'>

                    <!-- terrafic marker -->
                    <ui-gmap-marker ng-repeat="position in pos"
                                    icon='position.icon'
                                    idKey='position.id'
                                    coords='position'
                                    click='onClick(position)'
                                    options="markerOption">
                        <ui-gmap-window
                                isIconVisibleOnClick='true'
                                closeClick='onClick(position)'
                                options='windowOptions'>

                            <div class="card">
                                <div ng-class="'item item-'+getStatusColor(position.status)">
                                    {{position.comment}}
                                </div>
                                <div class="item item-image">
                                    <img ng-src='{{position.image}}' style="width: 150px"/>
                                </div>
                            </div>

                        </ui-gmap-window>
                    </ui-gmap-marker>

                    <!-- my position marker -->
                    <ui-gmap-marker idKey='001'
                                    coords='myPosition'
                                    options="markerOption">
                    </ui-gmap-marker>

                </ui-gmap-google-map>

            </div>
        </div>

    </ion-content>
</ion-view>