<ion-view ng-controller="MapLocateController">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons>
            <button class="button icon ion-home" ui-sref="home.map"></button>
        </ion-nav-buttons>
        <ion-nav-title>Map</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="has-header">

        <!-- map -->
        <div class="card" style="height:60%">

            <div class="item item-image" style="height: 100%;">
                <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        draggable='true'
                        refresh='false'>

                    <ui-gmap-marker
                            coords='position'
                            idKey='1'>
                    </ui-gmap-marker>

                </ui-gmap-google-map>
            </div>
        </div>

        <!-- form -->
        <form ng-submit="newPosition(position)">

            <div class="list">
                <div class="item item-divider">
                    <p>Votre position</p>
                </div>
                <div class="item">
                    <h3 class="positive">lat : {{position.latitude}}</h3>
                </div>
                <div class="item">
                    <h3 class="positive">lng :{{position.longitude}}</h3>
                </div>
            </div>

            <div class="card">
                <div class="item item-divider item-calm">Situation de la route</div>

                <label class="item item-radio assertive">
                    <input type="radio" value="2" ng-model="position.status" name="status">

                    <div class="item-content">Mblokia</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio energized">
                    <input type="radio" value="1" ng-model="position.status" name="status">

                    <div class="item-content">Choya</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio balanced">
                    <input type="radio" value="0" ng-model="position.status" name="status" ng-checked="true">

                    <div class="item-content">Mserha</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>

            <div class="card">
                <div class="item item-divider item-calm">Ajouter un commentaire</div>
                <label class="item item-input">
                    <textarea ng-model="position.comment" placeholder="Comments"></textarea>
                </label>

                <div class="item item-divider"></div>
            </div>

            <div class="card">
                <div class="item text-center">
                    <button class="button button-positive" ng-click="takePicture()">
                        Prendre une photo
                        <i class="icon ion-image"></i>
                    </button>
                </div>
                <div class="item item-image">
                    <img ng-src="{{picture}}">
                </div>
            </div>

            <div class="card">
            <div class="item">
            <button class=" button button-block button-positive">
                Envoyer
                <i class="icon ion-checkmark-circled"></i>
            </button>
            </div>
            <div class="item item-divider"></div>
            </div>

        </form>

    </ion-content>
</ion-view>